* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --highlight-color: rgba(0,0,0,0);
    --main-color: hsv(124, 98%, 84%);
}

.app {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.nav-wrapper {
    background-color: rgb(20, 155, 7);
    padding-top: 23px;
    height: 128px;
    border-top: 1px;
}

#menu-btn {
    width: 56px;
    height: 56px;
    margin: 0;
    margin-top: -1px;
    color: white;
}

#menu-btn:focus {
    background-color: transparent;
}

menu {
    margin: 0;
}

.user-view {
    background-color: rgb(20, 155, 7);
    height: 128px;
}

#wrapper {
    width: 100%;
    height: calc(100vh - 128px);
    overflow-y: auto;
}

#plan {
    width: 100%;
    height: 100%;
    box-shadow: none;
    margin: 0;
    border: 0 none;
}

.collapsible {
  box-shadow: 0 0 0 0 transparent;
}

.drag-target {
    width: 15px;
}

#plan1 {
    color: white;
}

.clockP * {
    vertical-align: middle;
}

#dzien1 {
  background-color: rgb(20, 155, 7);
  color: white;
}

#dzien1::-webkit-scrollbar {
    display: none;
}

#dzien1 * {
  color: white;
}

#dzien1 .active {
  background-color: rgba(255, 255, 255, 0);
}

#dzien1 .indicator {
  background-color: white;
}

#plan.tabs-content {
  height: 100%;
  overflow-y: auto;
}
