* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --highlight-color: rgba(0,0,0,0);
    --main-color: hsv(124, 98%, 84%);
}

.app {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.nav-wrapper {
    background-color: rgb(20, 155, 7);
    padding-top: 23px;
    height: 80px;
}

#menu-btn {
    width: 56px;
    height: 56px;
    margin: 0;
    margin-top: -1px;
    color: white;
}

#menu-btn:focus {
    background-color: transparent;
}