* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --highlight-color: rgba(0,0,0,0);
    --main-color: hsv(124, 98%, 84%);
}

.app {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
}

.nav-wrapper {
    background-color: rgb(20, 155, 7);
    padding-top: 23px;
    height: 128px;
    border-top: 1px;
    z-index: 16;
}

.small-navbar {
  height: 80px;
}

.nav-button {
    width: 56px;
    height: 56px;
    margin: 0;
    margin-top: -1px;
}

nav button {
  color: white;
}

nav button:focus {
    background-color: transparent;
}

nav i {
  color: white;
}

nav i:focus {
    background-color: transparent;
}

#savePrefs {
  color: white;
}

menu {
    margin: 0;
}

.user-view {
    background-color: rgb(20, 155, 7);
    height: 128px;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 128px);
    overflow-y: auto;
}

#plan {
    width: 100%;
    height: 100%;
    box-shadow: none;
    margin: 0;
    border: 0 none;
}

.collapsible {
  box-shadow: 0 0 0 0 transparent;
  height: calc(100vh - 128px - 7px - 15px)
}

.drag-target {
    width: 15px;
}

#plan1 {
    color: white;
}

.clockP * {
    vertical-align: middle;
}

#dzien1 {
  background-color: rgb(20, 155, 7);
  color: white;
}

#dzien1::-webkit-scrollbar {
    display: none;
}

#dzien1 * {
  color: white;
}

#dzien1 .active {
  background-color: rgba(255, 255, 255, 0);
}

#dzien1 .indicator {
  background-color: white;
}

#plan.tabs-content {
  height: 100%;
  overflow-y: auto;
}

#klasa {
  color: white;
}

#klasa:active {
  background-color: transparent;
}

#preferences {
  position: fixed;
  top: 128px;
  left: 0;
  background-color: white;
  z-index: 30;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s, top 0.2s;
  transition-delay: 0.1s, 0;
}

#prefsWrapper {
  height: calc(100vh - 80px);
  padding: 10px;
}
