.elevation-1 {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
}

.elevation-2 {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.elevation-3 {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14);
}

.elevation-4 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.elevation-6 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
}

.elevation-8 {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14);
}

.elevation-9 {
    box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.14);
}

.elevation-12 {
    box-shadow: 0 12px 17px 0 rgba(0, 0, 0, 0.14);
}

.elevation-16 {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.14);
}

.elevation-24 {
    box-shadow: 0 24px 38px 0 rgba(0, 0, 0, 0.14);
}